
.header {
	width: 100%;
  text-align: center;
}

.pas {
	width: 100%;
  text-align: center;
  padding: 10px 0 0 0;

}

.log {
	width: 100%;
  text-align: center;
   padding: 10px 0 0 0;
}


.kitazima {
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
}

.jouji {
  width: 100%;
  text-align: center;
}
