* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: column;
}


.side {
  width: 96px;
  background-color: #ffffff;
  padding: 20px 20px 0 10px;


}
.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: solid #000000;
  padding:20px 0 0 20px;
  line-height: 2.0;
}

.jouji {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
