
.header {
  width: 100%;
  text-align: center;
}


.side {
  width: 20%;
  height: 300px;
  text-align: center;



}
.con {
  width: 80%;
  height: 300px;
  text-align: left;
  margin-left: 20px;

}

.main{
	display: flex;
}

.jouji {
  width: 100%;
  text-align: center;
}
