
.header {
  width: 100%;
  text-align: center;
}


.side {
  width: 30%;
  height: 300px;
  text-align: center;



}
.con {
  width: 70%;
  height: 300px;
  text-align: center;
  margin-left: 20px;

}

.main{
	display: flex;
}

.jouji {
  width: 100%;
  text-align: center;
}
